.chat-body {
    height: 400px;
    overflow-y: auto;
    padding: 15px;
}

.chat-img {
    width: 120px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 6px;
}

.chat-input {
    border-top: 1px solid #ddd;
}

.chat-message {
    max-width: 70%;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


#messageInput {
    height: 50px;
   
    padding-left: 18px;
    font-size: 18px;
    background: transparent;
    color: #fff;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    border-radius: 10px;
}


.chat-input .btn-outline-secondary {
    height: 50px;
    width: 50px;
    border: 1px solid #ddddddff;
    margin-right: 6px;
    transition: all 0.3s ease;
    border-radius: 10px !important;
}

.chat-input .btn-primary {
    height: 50px;
   
    
}


/* ===== Custom Scrollbar (Webkit Browsers) ===== */
.chat-body::-webkit-scrollbar {
    width: 8px;
}

.chat-body::-webkit-scrollbar-track {
    background: transparent;
}

.chat-body::-webkit-scrollbar-thumb {
    background-color: rgba(13, 110, 253, 0.4); /* Bootstrap primary */
    border-radius: 10px;
    transition: background-color 0.3s;
}

.chat-body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(13, 110, 253, 0.7);
}

/* ===== Firefox Scrollbar ===== */
.chat-body {
    scrollbar-width: thin;
    scrollbar-color: rgba(13, 110, 253, 0.5) transparent;
}
